@media screen and (max-width: 652px) {
  html {
    font-size: 18px;
  }
  .nav-bar {
    flex-direction: column;
    margin-top: 1rem;
  }
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;

    gap: 16px;
  }
  .testimonial {
    grid-template-columns: repeat(1, 1fr);

    gap: 16px;
  }

  .site-links {
    margin-top: 2rem;
  }
  .tittle {
    text-align: center;
  }
  span {
    text-align: center;
  }
  .flex-sb {
    flex-direction: column;
  }
  footer {
    text-align: center;
  }
}
